PORT=3000
DATABASE_URL=postgresql://localhost:5432/yousong_island

# Line Notify
LINE_NOTIFY_TOKEN=your_line_notify_token

# SendGrid
SENDGRID_API_KEY=your_sendgrid_api_key
SENDGRID_FROM_EMAIL=noreply@yousong-island.tw
SENDGRID_ADMIN_EMAIL=admin@yousong-island.tw
